.banner {
  width: 100%;
  max-height: 550px;
  overflow: hidden;
  position: relative;
}

.banner .info {
  position: absolute;
  background: rgba(0,0,0,0.5);
  color: white;
  bottom: 20px;
  left: 0;
  padding: 1rem 3rem;
}

.nav {
  border-bottom: 1px solid #ccc;
  height: 60px;
}

.has-nav {
  padding-top: 60px
}

.pricing-header {
  max-width: 700px;
}
